@import "../../assets/css/colors.scss";
@import "../../assets/css/mixins.scss";

// ** Fonts **
@include define-font(
  "Raleway-Bold",
  "#{$font-path}/Raleway-Bold.ttf",
  "truetype",
  "bold",
  "normal"
);

.nav-list {
  display: flex;
  gap: 1rem;

  a {
    color: $color-sextary;
    transition: color 0.3s ease;

    &:hover,
    &.active {
      color: $color-primary;
      font-weight: 400;
    }
  }
}

@include mq-extra-small-device {
  .nav-list {
    align-items: flex-end;
    flex-direction: column;

    & li a {
      color: $color-tertiary;
      font-family: Raleway-Bold;
      font-size: 32px;
    }
  }
}
