@import "./../../assets/css/colors.scss";
@import "./../../assets/css/mixins.scss";

.dots-container {
  @include flex-row-center;
  height: 25px;

  .dot {
    animation: pulse 1.5s infinite ease-in-out;
    background-color: $dot-color;
    border-radius: 10px;
    height: 12px;
    margin-right: 10px;
    width: 12px;

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(1) {
      animation-delay: -0.3s;
    }

    &:nth-child(2) {
      animation-delay: -0.1s;
    }
  }
}

@keyframes pulse {
  0% {
    background-color: $dot-color;
    box-shadow: 0 0 0 0 $dot-box-shadow-color;
    transform: scale(0.8);
  }

  50% {
    background-color: $dot-active-color;
    box-shadow: 0 0 0 10px rgba($dot-box-shadow-color, 0);
    transform: scale(1.2);
  }

  100% {
    background-color: $dot-color;
    box-shadow: 0 0 0 0 $dot-box-shadow-color;
    transform: scale(0.8);
  }
}
