@import "../../assets/css/mixins.scss";
@import "../../assets/css/colors.scss";

.testimonial-item {
  @include flex-column-center;
  background-color: $color-sextary;
  color: $color-gray-dark;
  font-size: medium;
  height: 400px;
  justify-content: space-evenly;
  padding: 10px;
  width: 300px;

  .star-rating {
    display: flex;
    gap: 5px;

    svg path {
      fill: $color-yellow-dark;
    }
  }

  .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
  }

  .description {
    color: $color-gray-soft;
    font-size: 15px;
    height: 110px;
    line-height: 2;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
  }

  .avatar {
    border-radius: 50px;
    height: 100px;
    object-fit: cover;
    overflow: hidden;
    width: 100px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .author {
    font-size: 15px;
    font-weight: 800;
    line-height: 1.2;
  }
}
