@import "../../assets/css/mixins.scss";

.rooms-container {
  @include full-flex-dimensions;
  align-items: center;
  overflow-y: initial;

  .cover-content {
    @include cover-content-styles($color-sextary);
  }

  .rooms-section {
    margin-top: 4rem;
    width: 70%;
  }
}

@include mq-medium-device {
  .rooms-container {
    .rooms-section {
      width: 100%;
    }
  }
}

@include mq-small-device {
  .rooms-container {
    .cover-content {
      @include cover-content-styles-mq-small-device;
    }
  }
}
