@import "../../assets/css/mixins.scss";

.img-carousel-container {
  width: 100%;
  padding: 1rem 0;

  .img-carousel-wrapper {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    .gallery {
      display: flex;
      flex-wrap: nowrap;
      scroll-snap-align: start;

      & .img-carousel-img {
        height: calc(100vw / 4);
        min-height: 200px;
        min-width: 400px;
        scroll-snap-align: start;
        width: 100%;
      }
    }
  }
}

@include mq-medium-device {
  .img-carousel-container {
    .img-carousel-wrapper .gallery {
      & .img-carousel-img {
        min-width: 200px;
      }
    }
  }
}
