@import "./../../assets/css/mixins.scss";
@import "./../../assets/css/colors.scss";

.text-content-container {
  @include flex-column-start;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  &.left {
    align-items: flex-start;
  }

  &.right {
    align-items: flex-end;
  }

  .text-content-title {
    color: $color-gray-dark;

    &.small {
      font-size: 25.6px;
    }

    &.large {
      font-size: 38.4px;
    }
  }

  .text-content-children {
    color: #6d6d6d;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;

    &.left {
      text-align: left;
    }

    &.right {
      text-align: right;
    }
  }
}
