@import "./../../../assets/css/mixins.scss";

.textarea-wrapper {
  textarea {
    @include app-input;
    height: 150px;
    max-height: 250px;
    min-height: 80px;
    overflow: auto;
    resize: vertical;
  }
}
