@import "../../assets/css/colors.scss";

.logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;

  .logo-name {
    border: 2px solid $color-sextary;
    display: flex;
    gap: 5px;
    justify-content: center;
    padding: 5px 8px;
    width: 100%;

    span {
      color: $color-primary;
      font-weight: bold;
    }
  }

  .logo-slogan {
    color: $color-primary;
    font-size: 10px;
    line-height: 15px;
  }
}
