@import "../../../assets/css/colors.scss";

#header-container {
  align-items: center;
  background-color: $color-rgba-tertiary;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 100%;
}
