//  ** Main colors **
$color-primary: #ffa37b; // Main color
$color-secondary: #f6f6f6; // Neutral background that provides contrast
$color-tertiary: #333; // Main text color
$color-quaternary: #5e8f7b; // Highlight specific elements
$color-quinary: #7b9da6; // Highlight secondary elements
$color-sextary: #fff; // Backgrounds sections

// ** General colors **
$color-blue-dark: #0f0e24;

$color-gray-dark: #393939;
$color-gray-soft: #6d6d6d;

$color-yellow-dark: #ffb400;

// ** Transparents **
$color-rgba-black-shadows: rgba(0, 0, 0, 0.6);
$color-rgba-black: rgba(0, 0, 0, 1);
$color-rgba-black-borders: rgba(0, 0, 0, 0.125);
$color-rgba-black-cards: rgba(0, 0, 0, 0.03);
$color-rgba-sextary: rgba(255, 255, 255, 0.93);
$color-rgba-tertiary: rgba(51, 51, 51, 0.85);
