@import "./variables.scss";

//  ** Dimensions **
@mixin full-flex-dimensions {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  overflow-y: auto;
  width: 100%;
}

@mixin flex-row-center {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
}

@mixin flex-row-end-center {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

@mixin flex-row-space-between-center {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

@mixin flex-row-space-evenly-center {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}

@mixin flex-column-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

@mixin flex-column-start {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

// ** Media queries **
@mixin mq-extra-small-device {
  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 576px) {
    @content;
  }
}

@mixin mq-small-device {
  // Small devices (landscape phones, less than 768px)
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mq-medium-device {
  // Medium devices (tablets, less than 992px)
  @media (max-width: 992px) {
    @content;
  }
}

@mixin mq-large-device {
  // Large devices (desktops, less than 1200px)
  @media (max-width: 1200px) {
    @content;
  }
}

// ** Fonts **
@mixin define-font(
  $font-family,
  $font-path: $font-path,
  $font-format: "truetype",
  $font-weight: normal,
  $font-style: normal
) {
  @font-face {
    font-family: $font-family;
    src: url("#{$font-path}") format("#{$font-format}");
    font-weight: $font-weight;
    font-style: $font-style;
  }
}
