@import "../../assets/css/mixins.scss";
@import "../../assets/css/colors.scss";

.features-container {
  @include flex-row-space-evenly-center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  width: calc(100% - 4rem);

  .feature-element {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    max-width: 400px;
    padding: 10px;
    text-align: center;

    &:hover {
      path,
      rect,
      polygon {
        fill: $color-primary;
        transition: all 200ms ease;
      }
    }

    .feature-img {
      height: 90px;
      width: 90px;
    }
  }
}
