@import "../../assets/css/colors.scss";
@import "../../assets/css/mixins.scss";

// ** Fonts **
@include define-font(
  "Raleway-Bold",
  "#{$font-path}/Raleway-Bold.ttf",
  "truetype",
  "bold",
  "normal"
);

.hamburger-menu-open,
.hamburger-menu-close {
  cursor: pointer;
  display: none;
}

.nav-container {
  font-size: 17px;

  .nav-list {
    display: flex;
    gap: 1rem;

    a {
      color: $color-sextary;
      transition: color 0.3s ease;

      &:hover,
      &.active {
        color: $color-primary;
        font-weight: 400;
      }
    }
  }
}

@include mq-extra-small-device {
  .hamburger-menu-open,
  .hamburger-menu-close {
    display: block;
  }

  .nav-container {
    align-items: flex-end;
    background-color: $color-rgba-sextary;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100vh;
    opacity: 0;
    padding: 2rem;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 100vw;
    transition: all 200ms ease-out;

    .nav-list {
      align-items: flex-end;
      flex-direction: column;

      & li a {
        color: $color-tertiary;
        font-family: Raleway-Bold;
        font-size: 32px;
      }
    }
  }

  .visible {
    opacity: 0.99;
    visibility: visible;
    transition: all 400ms ease;
  }
}
