@import "../../assets/css/colors.scss";

.nav-container {
  .nav-list {
    display: flex;
    gap: 1rem;

    a {
      color: $color-sextary;
      transition: color 0.3s ease;

      &:hover,
      &.active {
        color: $color-primary;
        font-weight: 400;
      }
    }
  }
}
