@import "../../assets/css/mixins.scss";
@import "../../assets/css/colors.scss";

.home-container {
  @include full-flex-dimensions;
  gap: 3rem;

  .parallax-content-icon {
    width: 12rem;
    height: 12rem;

    path,
    rect,
    polygon {
      fill: $color-sextary;
    }
  }
}

@include mq-medium-device {
  .home-container {
    .parallax-content-icon {
      width: 8rem;
      height: 8rem;
    }
  }
}
