@import "./../../../assets/css/mixins.scss";
@import "../../../assets/css/colors.scss";

.footer-container {
  @include flex-column-center;
  padding: 1rem;
  background-color: $color-secondary;
  width: calc(100% - 2rem);

  .general-info-container {
    display: flex;
    gap: 1rem;

    .location-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  .copy-right {
    color: $color-rgba-tertiary;
    font-size: 12px;
    font-style: italic;
    margin-top: 20px;
  }
}
