@import "../../assets/css/colors.scss";

.rooms-slider-section {
  max-width: 1160px;
  width: 100%;

  .slider-container {
    border: 1px solid red;
    margin: 2rem auto;
    max-width: 1160px;
    overflow: hidden;
    width: 100%;

    .slider {
      display: flex;
      gap: 30px;

      .item {
        position: relative;
        height: 560px;
        display: flex;
        justify-content: center;

        img {
          height: 100%;
          object-fit: cover;
          pointer-events: none;
          width: 367px;
        }

        .button-room {
          bottom: 30px;
          position: absolute;
          width: calc(100% - 4rem);
        }

        &:hover {
          background-color: $color-rgba-black;

          img {
            transition: opacity 0.2s ease;
            opacity: 0.3;
          }
        }

        &:not(:hover) {
          background-color: $color-rgba-black;

          img {
            opacity: 1;
            transition: opacity 0.4s ease;
          }
        }
      }
    }
  }
}
