@import "../../assets/css/colors.scss";
@import "../../assets/css/mixins.scss";

.slider-container {
  margin: 2rem auto;
  overflow: hidden;
  width: 1160px;

  .slider {
    display: flex;
    gap: 30px;
  }
}

@include mq-large-device {
  .slider-container {
    width: 900px;
  }
}

@include mq-medium-device {
  .slider-container {
    width: 700px;
  }
}

@include mq-small-device {
  .slider-container {
    width: 500px;
  }
}

@include mq-extra-small-device {
  .slider-container {
    width: 270px;
  }
}
